.card{
    margin-bottom: 1rem;
    padding-top: 1rem;
}


.profileImage {
    width: 10%;
    height: 10%;
    border-radius: 100%;
    border: solid;
    margin-top: 1rem;
    @media (max-width: 700px) {
    width: 40%;
    height: 40%;
    margin-bottom: 1rem;
    }
}
.profileImage:hover{
    opacity: 80%;
}

.datos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: rgb(206, 156, 65);
    img{
        border-color: silver;
        margin-right: 2rem;
    }
    @media (max-width: 700px) {
        flex-direction: column;
    }
}

.card-tech{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.card2{
    width: 30rem;
}

/*Texts*/
h2 {
    color: silver;
    font-size: 120%;
}
