.task-action {
    cursor: pointer;
}

body {
    align-items: center;
    justify-content: center;
}

i{
    margin: 0.5rem;
}

span{
    margin: 0.5rem;
}

tbody{
    margin-right: 1rem;
}

.logo{
    width: 20rem;
    height: 10rem;
}

.card {
    @media (max-width: 520px) {
        width: 350px;
    }
}

.description {
    @media (max-width: 520px) {
        font-size: 10px;
    }
}