.task-action {
    cursor: pointer;
}

.task-completed {
    color: rgb(67, 48, 48);
    text-decoration: line-through;
}

.task-pending {
    font-weight: bold;
    color: tomato;
}

body {
    align-items: center;
    justify-content: center;
}